
<nav class="navbar sticky-top navbar-dark bg-dark p-2 border-bottom">
   
    <a class="navbar-brand fs-1" href="">
        <img src="assets\img\logo.png" width="75" height="75" alt="..."
             class="rounded-circle">
      Kishankumar Patel
    </a>

    <ul class="nav nav-pills ">
        <li class="nav-item"><a href="https://www.linkedin.com/in/kishan-patel-688513153" class="nav-link" aria-current="page">
            <i class="bi bi-linkedin" style="font-size:30px;"></i>
        </a></li>
        <li class="nav-item"><a href="https://github.com/KishanPiyushPatel" class="nav-link">
            <i class="bi bi-github" style="font-size:30px;"></i>
        </a></li>
        <li class="nav-item"><a href="mailto:8kishan99@gmail.com" class="nav-link">
            <i class="bi bi-envelope" style="font-size:30px;"></i>
        </a></li>
        <li class="nav-item"><a href="assets\documents\KishanPatel_Resume.pdf" class="nav-link bg-light">
            <i class="bi bi-download" style="font-size:30px;"> Resume</i>
        </a></li>
    </ul>
</nav>

<div class="container-fluid min-vh-100 d-flex flex-column text-bg-dark">
   <div class="row min-vh-100 ">
    <div class="col align-self-center text-center text-wrap p-3">
        <h1 class="fw-bolder p-2">&lt; Software Developer &gt;</h1>
        <p class="fs-5"> i am a student pursuing bachelors of science in Computer science, who has experience in many programming languages </p>
    </div>
    <div class="col align-self-center m-3 text-wrap">
        <h1>Skill</h1>
        <ul>
            <li>Python (NumPy, Pandas, Matplotlib)  </li>
            <li>C++</li>
            <li>Java</li>
            <li>Angular</li>
            <li>HTML5 / CSS</li>
            <li>MySQL</li>
            <li>Visual Basic</li>
            <li>GitHub / Git</li>
            <li>Linux</li>
        </ul>
        <h1>course taken</h1>
        <ul>
            <li>Software Engineering</li>
            <li>Artificial Intelligence</li>
            <li>Mobile Application Development</li>
            <li>Web-Based Program</li>
            <li>Database Management</li>
            <li>Object-Oriented Design</li>
            <li>Data Structures</li>
        </ul>
        <h1>resume </h1>
        <a href="assets\documents\KishanPatel_Resume.pdf" > link</a>
    </div>
</div>
</div>